@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  background-color: #D9D9D9;
}

body {
  width: 400px;
  margin: auto;
  background-color: #FFFFFF;
}